.header__icon_button {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    color: #222222;
    text-align: center;
    border: 1px solid rgba(34, 34, 34, 0.3);
    width: 207px;
    height: 40px;
    display: block;
    cursor: url('../../../../img/Cursor.png'), pointer;
    margin-left: 30px;
    text-decoration: none;
}

.header__icon_button::before {
    display: block;
    width: 21px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #4e4e4e;
    top: 50%;
    left: -11px;
}