.services__text {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px black;
}

.services__title.uslugi .services__text {
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}

.services__title.works .services__text {
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}

.services__title.design .services__text {
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}

.services__title.remont .services__text {
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}